bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.pyc
*.pyo
build/
dist/
__pycache__/
pyneural/__pycache__/
pyneural/ion_channels/__pycache__/
pyneural/neuron_models/__pycache__/
pyneural/statistics/__pycache__/
tests/__pycache__/
